<!DOCTYPE html>
<html lang="en">
<head th:replace="partials :: head ('Viewing a Post')">
	<title>Prolonged Fart Noises</title>
</head>
<body class="main-bg main-container">
<nav th:replace="partials :: navbar"></nav>
<main class="container">
	<form th:action="@{posts/{id}/edit}" th:replace="partials :: postForm">
		<input type="hidden" class="form-control" th:field="*{id}" id="id">
	</form>
</main>
<footer th:replace="partials :: footer"></footer>
<div th:replace="partials :: boot-scripts"></div>
</body>
</html>