<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>roll-dice</title>
</head>
<body>
	<h3 th:text="${message}"></h3>

<div>
	<form action="/roll-dice/1" method="GET">
	<input type="hidden" name="userGuess" value="1">
	<input class="btn btn-warning btn-sm" type="submit" value="1">
	</form>
</div>
<div>
	<form action="/roll-dice/2" method="GET">
	<input type="hidden" name="userGuess" value="2">
	<input class="btn btn-warning btn-sm" type="submit" value="2">
	</form>
</div>
<div>
	<form action="/roll-dice/3" method="GET">
	<input type="hidden" name="userGuess" value="3">
	<input class="btn btn-warning btn-sm" type="submit" value="3">
	</form>
</div>
<div>
	<form action="/roll-dice/4" method="GET">
	<input type="hidden" name="userGuess" value="4">
	<input class="btn btn-warning btn-sm" type="submit" value="4">
	</form>
</div>
<div>
	<form action="/roll-dice/5" method="GET">
	<input type="hidden" name="userGuess" value="5">
	<input class="btn btn-warning btn-sm" type="submit" value="5">
	</form>
</div>
<div>
	<form action="/roll-dice/6" method="GET">
	<input type="hidden" name="userGuess" value="6">
	<input type="submit" value="6">
	</form>
</div>
<div>
	<h2 th:text="${dice}"></h2>
</div>
</body>
</html>